VITE_SUPABASE_URL=https://qdxzjbgpuvsyjxvdhwqh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkeHpqYmdwdXZzeWp4dmRod3FoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY4MjUxODIsImV4cCI6MjA2MjQwMTE4Mn0._d2aNG_Fm8fUaFWiGY6QGg4vwECiJ47ZvxujVkkQjdo